/* payments.css */

.table {
    border-collapse: collapse;
}

.table th,
.table td {
    border: none;
    color: #ffffff;
    font-family: Montserrat, sans-serif;
}

.table thead th {
    color: #ffffff;
}

.btn-primary {
    color: #ffffff;
    font-family: Montserrat, sans-serif;
    /* Add any other button styles you may have */
}

