
.table {
    border-collapse: collapse;
}

.table th,
.table td {
    border: none;
    text-align: center;
    color: #ffffff;
    font-family: Montserrat, sans-serif;
}

.table thead th {
    color: #ffffff;
}

.btn-primary .btn-success{
    color: #ffffff;
    font-family: Montserrat, sans-serif;
}

.button-group {
    display: inline-block;
}

.button-group a,
.button-group form {
    display: inline-block;
    margin-right: 5px;
}